# Set APP_RUNTIME_GID to the common GID used by containers sharing files
# For multi-GID support add to 'add-group' section of docker-compose.yml
# FUTURE: Leave blank to run ModelBridge as root (useful if other containers run as root)
APP_RUNTIME_GID=24060

# Set below to override default app build permissions (cloud deployments)
#APP_GID=24060
#APP_UID=24060
