# General dependencies
huggingface-hub
huggingface_hub[cli]

# Model conversion and optimization
transformers
# tokenizers
# torch
# onnxruntime
# sentencepiece

# GGUF-related tools
# llama-cpp-python

# Interactive workflows
gradio
watchfiles

# General utilities
#click
#rich
#python-dotenv
